<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<h1>Available Courses</h1>
<table>
    <thead>
    <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Term</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseCode}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.term}"></td>
            <td>
                <form th:action="@{/enroll}" method="post">
                    <input type="hidden" name="courseCode" th:value="${course.courseCode}" />
                    <input type="submit" value="Enroll"/>
                </form>
            </td>
        </tr>        
    </tbody>
</table>
<a href="/">Back to Dashboard</a>
</body>
</html>