<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>don't worry it works. just need to set up login.</h1>
    <!--<h1>Welcome, <span th:text="${user.name}"></span></h1>
    <div th:if="${userType == 'student'}">
        <a href="/courses">View Courses</a>
        <a href="/grades">View Grades</a>
    </div>
    <div th:if="${userType == 'faculty'}">
        <a href="/upload">Upload Grades</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>-->
</body>
</html>